// xl - 1280
// lg - 1024
// md - 768
// sm - 640


//$windowSize = (xl lg md sm)
$windowSize = ("xl" 1280),\
							("lg" 1024),\
							("md" 768),\
							("sm" 640)

//Extends size
$listExtend = (0),\
							(5),\
							(8),\
							(10),\
							(12),\
							(16),\
							(20 16),\
							(24 16),\
							(32 24),\
							(40 28 28),\
							(48 32 24),\
							(64 48 24),\
							(80 64 32),\
							(100 80 40)

//padding percent
$paddingPercent = (4 8 12 16 20 24 32 36 40 44)

//Grid gap size
$gridGap = (4),\
					(8),\
					(12),\
					(16),\
					(20 16),\
					(24 16),\
					(32 24)

$listType = ("xs" 12 10),\
						("sm" 14 12),\
						("main" 16 16),\
						("md" 20 18),\
						("mdx" 24 20),\
						("lg" 32 24),\
						("lgx" 44 32),\
						("xl" 64 44)

$listTypeSimple = (12 14 16 18 20 24 32 40 44 64)

//Icon size
$listIcon = (12 14 16 18 20 24 32 44 64 80)
/*$listIcon = ("xs" 12),\
						("sm" 16),\
						("md" 20),\
						("mdx" 24),\
						("lg" 32),\
						("lgx" 44),\
						("xl" 64)*/

//Border radius
$listBr = (4 8 12 16 20 24 32 44 64)

//Font weight
$listFw = (300 400 500 600 700 900)

//width-max container size
$listWmax = (500 545 610 640 660 712 820 1320)

//z-index
$listZindex = (10 20 30 40 50 100 500 1000)

